#home {
  background-image: url("../img/home-hero.jpg");
  background-size: cover;
  /* cover: que ocupe toda la pantalla */
  background-position: center top -16rem; /* Desplaza la imagen 5 rem hacia arriba desde la parte superior */

  text-align: center;
}
html {
  color: #fff;
  font-family: "Fira Sans", sans-serif;
}
/* Fira Sans de Google Fonts (weight 300,500,700 i 900). */

/* Cabecera */
.nav_in {
  text-align: center; /* Centra el contenido del .nav_in horizontalmente */
  padding: 0rem;
  margin-bottom: 3rem;
}
#whoami {
  color: #a4f479;
  padding-bottom: 0.2rem;
  border-bottom: 1px solid #a4f479; /* Establece el subrayado como un borde inferior */
}

.nav_in ul {
  list-style: none;
  padding: 2rem;
  background-color: #070e5886;
  display: inline-block; /* Cambiamos a display: inline-block para centrar el ul */
}

.nav_in li {
  display: inline;
  margin: 0;
  padding: 0;
}

.nav_in a {
  text-transform: uppercase;
  padding: 10px 20px;
  margin: 1rem;
}

.nav_on {
  margin: 0;
  background-image: url("../img/amped_header.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;  
  height: 10rem;
}
@media (max-width: 876px) {
  header {
    display: none; 
  }
}
.nav_on {
  text-align: center; /* Centra el contenido del .nav_in horizontalmente */
  padding: 0rem;
}
#purple_nav{
  background-color: #070e58b7;
  width: 30%;
  display: inline-block;
  height: 80%;
  margin: 0.7rem;
}
#center{
  display: inline-block;
}
.nav_on ul {
  list-style: none;
  display: flex; /* Cambiamos a display: inline-block para centrar el ul */
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.nav_on li {
  display: inline;
  margin: 0;
  padding: 0rem 0.5rem 0rem 0.5rem;
}
.nav_on a{
  text-transform: uppercase;
  padding-bottom: 0.5rem;
  font-size: 0.8rem;
}
#logo {
  width: 45%;
  margin-top: 0.5rem;
}

/* Cuerpo */
#calendar_title{
  margin-bottom: 0;
}


#home img {
  max-width: 40%;
}
#home h1 {
  font-size: 5rem;
  max-width: 70%;
  display: inline-block;
  font-weight: bold;
}
.intro_info {
  font-size: 1.2rem;
  max-width: 560px;
  line-height: 1.5;
  text-align: left;
  display: inline-block;
  font-weight: 300;
  margin-bottom: 2rem;
}
.cuerpo {
  color: #070e58;
  text-align: center;
}
#cabezas_de_cartel {
  width: 70%;
  display: inline-block;
  text-align: left;
}

.left_line {
  margin-left: 4rem;
  border-left: 0.1rem solid #5865f2;
  padding-left: 2rem;
}
.left_line p{
  margin-top: 0.5rem;
}

/* Pie de página */

.nav_out ul {
  list-style: none;
  padding: 0;
  display: inline-block; /* Cambiamos a display: inline-block para centrar el ul */
}
.nav_out li {
  display: inline;
  margin: 0;
  padding: 0;
}
.nav_out a {
  padding: 10px 20px;
}
#a_foot {
  color: #a4f479;
}
#a_foot:hover {
  color: #5865f2;
}
#foot_p {
  font-size: 0.9rem;
}
.footer_purple {
  text-align: left;
  background-color: #070e58;
  width: 100%;
  padding: 1rem;
  font-weight: 300;
  font-size: 0.8rem;
  line-height: 0.5rem;
}
.footer_purple div{
  margin-left: 10rem;
}
.footer_purple li{
  display: inline;
  margin-right: 2rem;
  padding: 0;
}
.footer_purple ul{
  padding-left: 0;
}
.footer_purple p{
  font-size: 0.6rem;
}


/* GENERAL */

a:hover {
  color: #5865f2;
}
a {
  text-decoration: none;
  color: #fff;
}
body {
  margin: 0;
}
#postfoto {
  margin-top: 0;
  font-size: 0.8rem;
  font-weight: 300;
  text-align: left;
}
#postfoto p {
  margin-top: 0;
  font-size: 0.7rem;
}
#box_video {
  width: 560;
  display: inline-block;
}
p {
  font-weight: 300;
  line-height: 1.5;
  font-size: 0.9rem;
}

/* Para evitar que se pongan las cosas al lado de otras */
.contenedor {
  display: flex;
  flex-direction: column;
}

.item {
  margin: 0;
  padding: 0;
}
h2 {
  font-size: 2rem;
  font-weight: 900;
}
h3 {
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
}
h4 {
  font-size: 1.2rem;
  margin: 0rem 0rem 0rem 4rem;
}
.content{
  width: 70%;
  display: inline-block;
}
p{
  text-align: left;
}

/* cuadricula----------------------- */
#calendario{
  display: inline-block;
}
.cuadricula {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.columna {
  text-align: left;
}
.cuadricula a{
  color: #5865f2;
}
.green{
  background-color: #a4f479;
}
.cuadricula p{
  margin: 0;
}
.item{
  padding: 0.5rem;
}
.head{
  border-top: 1px solid #5865f2;
  border-bottom: 1px solid #5865f2 ;
}
#title_calendar{
  border-top: 1px solid #5865f2;
  padding: 1rem;
  margin-left: 0;
}
#bottom_calendar{
  border-bottom: 1px solid #5865f2;
  padding: 0.3rem;

}

/* Form ####################################### */
form {
  text-align: left;
  width: 60%;
  display: inline-block;
}

input, textarea {
  width: 80%;

}
form h4{
  margin-left: 1rem;
}
input[type="submit"] {
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
}
.form_div1{
  background-color: #5865f294;
}
.flex{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 1rem;
  margin-right: 0;
}