#home {
  background-image: url("../img/home-hero.jpg");
  background-size: cover;
  /* cover: que ocupe toda la pantalla */
  background-position: center top -16rem; /* Desplaza la imagen 5 rem hacia arriba desde la parte superior */

  text-align: center;
}
html {
  color: #fff;
  font-family: "Fira Sans", sans-serif;
}
/* Fira Sans de Google Fonts (weight 300,500,700 i 900). */

/* Cabecera */
.nav_in {
  text-align: center; /* Centra el contenido del .nav_in horizontalmente */
  padding: 0rem;
  margin-bottom: 3rem;
}
#whoami{
    color: #a4f479;
    border-bottom: 2px solid #a4f479; /* Establece el subrayado como un borde inferior */
}

.nav_in ul {
  list-style: none;
  padding: 2rem;
  background-color: #070e5886;
  display: inline-block; /* Cambiamos a display: inline-block para centrar el ul */
}

.nav_in li {
  display: inline;
  margin: 0;
  padding: 0;
}

.nav_in a {
  text-transform: uppercase;
  padding: 10px 20px;
  margin: 1rem;
}

.nav_on {
  margin: 0;
  background-image: url("../img/amped_header.jpg");
  background-position: center top -16rem; /* Desplaza la imagen 5 rem hacia arriba desde la parte superior */

}
.nav_on {
  text-align: center; /* Centra el contenido del .nav_in horizontalmente */
  padding: 0rem;
  margin-bottom: 3rem;
}
.nav_on div{
    background-color: #070e5886;
    width: 45%;
    display: inline-block;
    height: 10rem;
    margin: 1rem;
}
.nav_on ul {
  list-style: none;
  display: inline-block; /* Cambiamos a display: inline-block para centrar el ul */
}
.nav_on li {
  display: inline;
  margin: 0;
  padding: 10px 20px;
}
.nav_on a {
  text-transform: uppercase;
  padding-bottom: 0.5rem;
}
#logo{
    width: 40% ;
    margin-top: 1rem;
}

/* Cuerpo */
#home img {
  max-width: 40%;
}
#home h1 {
  font-size: 5rem;
  max-width: 70%;
  display: inline-block;
  font-weight: bold;
}
#intro_info{
  max-width: 560px;
  line-height: 1.5;
  text-align: left;
  display: inline-block;
  font-weight: 300;
  margin-bottom: 2rem;

}
.cuerpo {
  color: #070e58;
  text-align: center;

}
#cabezas_de_cartel{
  width: 70%;
  display: inline-block;
  text-align: left;
}
#cabezas_de_cartel h3{
  margin-left: 4rem;
}
.left_line{
  margin-left: 4rem;
  border-left: 2px solid #070e58;
  padding-left: 2rem;

}

/* Pie de página */

.nav_out ul {
  list-style: none;
  padding: 0;
  display: inline-block; /* Cambiamos a display: inline-block para centrar el ul */
}

.nav_out li {
  display: inline;
  margin: 0;
  padding: 0;
}
.nav_out a {
  padding: 10px 20px;
}
#a_foot {
  color: #a4f479;
}
#a_foot:hover {
  color: #5865f2;
}
#foot_p {
  font-size: 0.9rem;
}

/* GENERAL */

h3{
  font-weight: 700;
}
a:hover {
  color: #5865f2;
}
a{
  text-decoration: none;
  color: #fff;
}
body {
  margin: 0;
}
#postfoto{
  margin-top: 0;
  font-size: 0.8rem;
  font-weight: 300;
  text-align: left;
}
#postfoto p{
  margin-top: 0;
  font-size: 0.7rem;
}
#box_video{
  width:560; 
  display: inline-block;
}
p{
  font-weight: 300;
  line-height: 1.5;

}